[Unit]
Description=watch net and services
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=10s
ExecStart=/usr/bin/dev_watch -frp

[Install]
WantedBy=multi-user.target
